# Your WordPress site URL. NOTE: Do not include a trailing slash at the end of the URL.
NEXT_PUBLIC_WORDPRESS_URL=https://live-rekayasa.pantheonsite.io

# Plugin secret found in WordPress Settings->Headless faust
FAUST_SECRET_KEY=a8a8d3ea-4a52-4eda-9f8c-ee72f7a9c799

# Your frontend NextJS site URL.  NOTE: Do not include a trailing slash at the end of the URL.
NEXT_PUBLIC_URL=https://rekayasa-sipil.my.id

# Enable or disable the RTL mode: ltr or rtl
NEXT_PUBLIC_SITE_DIRECTION=ltr

# Enable or disable the GEAR setting icon: true or false
NEXT_PUBLIC_SITE_GEAR_ICON=false

# Enable or disable the GET method for the API calls: GET or POST
NEXT_PUBLIC_SITE_API_METHOD=GET

#  Google analytics tracking ID
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-VH9R84SQV5


# Image remote URLs
NEXT_PUBLIC_IMAGE_REMOTE_HOSTNAME_1=i0.wp.com
NEXT_PUBLIC_IMAGE_REMOTE_HOSTNAME_2=i0.wp.com


